__pycache__/
conversation_cache.json
qdrant_storage
biocypher-log
.cache
user_pdf.json
history.json
logfiles
data
test.py
rag_user_pdf.json
*.lock
pdfs_uploaded
*.env
.infisical.json
/tmp
/storage

node_modules/
